<h3>{{leyenda}}</h3>

<div class="input-group">
    <input #txtProgress type="number" class="form-control" name="progreso" [(ngModel)]="progreso" (ngModelChange)="onChanges($event)" min=" 0 " max="100 ">
    <div class="input-group-append " id="button-addon4 ">
        <button (click)="cambiarValor(-5) " class="btn btn-outline-primary " type="button "><i class="mdi mdi-minus "></i></button>
        <button (click)="cambiarValor(+5) " class="btn btn-outline-primary " type="button "><i class="mdi mdi-plus "></i></button>
    </div>
</div>
