<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h4>{{graficos.grafico1.leyenda}}</h4>
                </div>

                <div>
                    <div>
                        <app-grafica-dona [chartLabels]="graficos.grafico1.labels" [chartData]="graficos.grafico1.data"></app-grafica-dona>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h4>{{graficos.grafico2.leyenda}}</h4>
                </div>

                <div>
                    <div>
                        <app-grafica-dona [chartLabels]="graficos.grafico2.labels" [chartData]="graficos.grafico2.data"></app-grafica-dona>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h4>{{graficos.grafico3.leyenda}}</h4>
                </div>

                <div>
                    <div>
                        <app-grafica-dona [chartLabels]="graficos.grafico3.labels" [chartData]="graficos.grafico3.data"> </app-grafica-dona>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h4>{{graficos.grafico4.leyenda}}</h4>
                </div>

                <div>
                    <div>
                        <app-grafica-dona [chartLabels]="graficos.grafico4.labels" [chartData]="graficos.grafico4.data"></app-grafica-dona>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>